/* This is the general body styling */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* This is the header styling */

.container {
    display: flex;
    min-width: 1340px;
    max-width: 1340px;
    height: 69px;
    flex: 1;
    position: fixed;
    margin: 0 auto;
    z-index: 1;
    border-bottom: 1px solid seashell;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex:2;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

.navigation {
  display: flex;
  flex: 1;
}

ul {
  display: flex;
  flex: 1;
}

li {
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: underline;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
}

/* This is the "Our Mission" section styling */

.content {
  display: block;
  position: absolute;
}

.mission {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  margin-top: 70px;
  margin-bottom: 30px;
  margin-left: 70px;
  margin-right: 70px;
}

.box {
  width: 1200px,
  height: 150px;
  background-color: black;
}

.mission h2{
  width: 1200px;
}

.mission h4{
    width: 1200px;
}

/* This is the "Tea of the Month" section styling */

.featured-teas {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1000px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.tea-of-the-month {
  justify-content: center;
  margin: 0px auto;
}

.menu-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  margin-top: 20px;

}

.menu-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 675px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-content: center;
  margin-top: 20px;
}

.tea img {
  width: 300px;
  height: 200px;
}

.tea p {
  margin-top: 10px;
}

/* This is the "Locations" section styling */

.locations {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1200px;
  height: 500px;
  background-image: url(./images/img-locations-background.jpg);
}

.near-you {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
  position: relative;
  width: 1200px;
  height: 500px;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-around;
  background-color: black;
  opacity: 1;
  width: 260px;
  height:280px;
  margin-left: 40px;
  margin-right: 40px;
  padding-right: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
}

/*This is the contact styling section*/

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 200px;
}

/*This is the footer styling section*/

.footer {
  text-align: left;
  margin: 20px 20px;
}
